@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main_cadastro {
    width: 100vw;
    height: 100vh;
    background-color: #100f13;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_cadastro {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #35313f;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card_cadastro > h1 {
    color: #2fd487;
    font-weight: 800;
    letter-spacing: 2px;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #100f13;
    color: white;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: white;
    margin-bottom: 10px;
}

.textfield > input::placeholder {
    color: #424244
}

.button {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_cadastro {
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    background: #2fd487;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn_cadastro:hover {
    background: #100f13;
    color: white;
    transition: background 1s;
}