@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');



body, header {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding: 15px 15px;
    background: #35313f;
    box-shadow: 0px 10px 40px #00000056;
}

header > h1 {
    display: flex;
    align-items: center;
    color: #2fd487;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 10;
}

.card_lista > h1 {
    color: #2fd487;
    font-weight: 800;
    letter-spacing: 2px;
    margin: 0;
}

.textfield {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10px;
}

.textfield > input {
    margin-left: 20px;
    border: none;
    padding: 5px;
    background: #100f13;
    color: white;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > input::placeholder {
    color: #424244
}

#header_descricao {
    border-radius: 10px;
}

#header_detalhamento {
    border-radius: 10px 0px 0px 10px;
}

.button_lista {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn_lista {
    padding: 5px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    background: #2fd487;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

#btn_lista:hover {
    background: #100f13;
    color: white;
    transition: background 1s;
}

#div_lista {
    display: flex;
    flex-direction: column;
    background: #35313f;
    box-shadow: 0px 10px 40px #00000056;
    padding: 10px;
    height: 100vh;
}

.table > thead, tbody, h1 {
    color: #2fd487;
}

#tbody > tr {
    text-align: center;
}

#thead > tr {
    text-align: center;
}

.btn_login {
    padding: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    background: #2fd487;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn_login:hover {
    background: #100f13;
    color: white;
    transition: background 1s;
}