@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main_login {
    width: 100vw;
    height: 100vh;
    background-color: #100f13;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left_login > h1 {
    color: #4feea4;
    font-size: 3vw;
}

.left_image {
    width: 35vw;
}

.right_login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form_login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #35313f;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

#form_login > h1 {
    color: #2fd487;
    font-weight: 800;
    letter-spacing: 2px;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #100f13;
    color: white;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: white;
    margin-bottom: 10px;
}

.textfield > input::placeholder {
    color: #424244
}

.buttons {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_login, #btn_cadastro {
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    background: #2fd487;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn_login:hover, #btn_cadastro:hover {
    background: #100f13;
    color: white;
    transition: background 1s;
}

@media only screen and (max-width: 950px) {
    #form_login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .main_login {
        flex-direction: column;
    }
    .left_login > h1 {
        display: none;
    }
    .left_login {
        width: 100%;
        height: auto;
    }
    .right_login {
        width: 100%;
        height: auto;
    }
    .left_image {
        width: 50vw;
    }
    #form_login {
        width: 90%;
    }
}
